<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.elpassion.memoryleaks"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.elpassion.memoryleaks.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.elpassion.memoryleaks.permission.C2D_MESSAGE"/>

    <application
        android:name=".MemoryLeakApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.elpassion.memoryleaks"/>
            </intent-filter>
        </receiver>

        <activity android:name=".ui.elder.list.EldersListActivity"/>
        <activity
            android:name=".register.elder.view.impl.RegisterElderActivity"
            android:label="Elder app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".register.visitor.view.impl.RegisterVisitorActivity"
            android:label="Care Taker app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".confirmation.view.impl.ConfirmationActivity"/>

        <service
            android:name=".notifications.NotificationListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>

    </application>

</manifest>